*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.banner-text{
    width: 100%;
    position: absolute;
}
.banner-text ul{
    height: 50px;
    float: right;
}
.banner-text ul li{
    display: inline-block;
    padding: 40px 35px;

   
    text-transform: uppercase;
    
    color: rgb(214, 212, 212);;
    font-size: 20px;
}
.banner-text h2{
    text-align: center;
    color: rgb(214, 212, 212);
    font-size: 50px;
    margin-top: 14%;
    float: center;
}
.banner-text h4{
    text-align: center;
    color: rgb(180, 178, 178);
    font-size: 15px;
    margin-top: 1%;
    float: center;
}
.banner-text h5{
    text-align: center;
    color: rgb(180, 178, 178);
    font-size: 15px;
    padding: 1%;
    
    float: center;
}
.banner-text a{
    border: 1px solid #c48d16;
    background-color:  #c48d16; ;
    border-radius: 16px;
    display: block;
    
    width: 170px;
    margin: 12px auto;
    text-align: center;
    
    color: rgb(46, 42, 42);
    font-size: 15px;
    padding: 1%;
    float: center;
}
.animation{
    background: linear-gradient(to left,rgb(52, 7, 110),#05030a);
    width: 100%;
    height: 100vh;
    


}
.box-area li{
    position:fixed;
    display: black;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
    overflow:hidden;
}
.box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box-area li:nth-child(2){
    left: 16%;
    width: 40px;
    height: 40px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100vhpx;
    animation-delay: 5.5s;
}
.box-area li:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.box-area li:nth-child(5){
    left: 66%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.box-area li:nth-child(6){
    left: 16%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}